{% extends 'main.html' %} 

{% block content %}

{% comment %} <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %} 
  {{form.as_p}}
  <input type="submit" />
</form> {% endcomment %}


<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
      <div class="formWrapper">
          <a class="backButton" href="{% url "Owner_list" %}"><i class="im im-angle-left"></i></a>
          <br>

          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
              <!-- Input:Text -->
              <div class="form__field">
                {{form.as_table}}
                  {% comment %} <label for="formInput#text">Text Field: </label>
                  <input class="input input--text" id="formInput#text" type="text" name="text"
                  placeholder="Enter text" /> {% endcomment %}
              </div>
              <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
          </form>
      </div>
  </div>
</main>

{% endblock %}


##This a database form making for adding new owner based on our module db(class Owner_Panel)